header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: #333;
    color: white;
    align-items: center;
    justify-content: space-between;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #777;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 50px;
}